<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\NiebauerWebApp.Server.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="outofprocess" />
      <staticContent>
        <remove fileExtension=".wasm" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <remove fileExtension=".blat" />
        <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
        <remove fileExtension=".dat" />
        <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
      </staticContent>
      <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
  </location>
</configuration>